body{
    background-image: url(Recursos/espiral1.png);
    background-repeat: repeat-y;
    background-color: #85C1E9;
}

.principal{
    margin-left: 220px;
    margin-top: 50px;
    margin-bottom: 50px;
}

p:first-letter{
    text-transform: uppercase;
    font-size: 20px;
    color: #8E44AD
}

.tercero{
    background-image: url(Recursos/2.jpg);
    padding: 50px 30px;
    color: white;
    margin-left: 150px;
    margin-right: 150px;
}

.desplazados{
    margin-left: 200px;
    overflow: auto;
    height: 500px;
}
